:root {
  --primary-color: pink;
  --box-shadow: purple;
  --secondary-color: blue;
}
.email-link {
  color: var (--secondary-color);
}
.about-paragraphs p {
  margin: 10px;
}
p {
  display: block;
  background: var(--primary-color);
  font-size: 18px;
}
body {
  display: block;
}
