:root {
  --primary-color: pink;
  --box-shadow: purple;
  --secondary-color:blue;
}
.email-link {
   var (--secondary-color);
}
.about-paragraphs p {
    margin: 10px;

}
p {
    display:block;
    background: var(--primary-color);
    font-size: 18px;
}
